<!-- app/views/lists/edit.html.erb -->

<h1>Edit List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :image, as: :file %> <!-- The image upload field -->
  <%= f.submit "Create List" %>
<% end %>
