// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "tom-select/dist/scss/tom-select";
@import 'aos/dist/aos.css';
// app/assets/stylesheets/application.scss
@import "star-rating.js/dist/star-rating.css";



// Your CSS partials
@import "components/index";
@import "pages/index";
/* stylesheets/movies.css or stylesheets/application.css */

body {
  background-color: #F7F7F7;  /* A shade less than white */
}

.movies-container {
  display: flex;
  flex-direction: column;
  gap: 20px;  /* vertical gap between rows */
  max-width: 1200px; /* or any value suitable for your design */
  margin: 0 auto;  /* centers the container */
}

.row {
  display: flex;
  gap: 20px;  /* horizontal gap between movie cards */
  justify-content: center; /* centers the movie cards horizontally */
  margin-top: 35px;
}

.movie-card {
  width: 44%;  /* makes two cards in a row */
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;  /* for smooth hover effect */

  /* optional: add a hover effect to lift the card */
  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.09);
  }
}

.movie-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 60vh;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
}

.movie-rating {
  display: inline-block;
  margin-left: 10px;
}

.row > .movie-card {
  flex-shrink: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: var(--bs-gutter-y);
}

.lists-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Still want 3 columns */
  gap: 20px;  /* Gap between the grid items */
  justify-content: center;  /* Center the items on the horizontal axis */
  align-items: start;  /* Align items to the start on the vertical axis */
  width: 90%; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container on the page */
}

.list-tile {
  width: 100%; /* Take up the full width of the grid cell */
  padding-bottom: 40%; /* This ratio will give it a rectangle shape, adjust as needed */
  position: relative; /* Relative positioning to place the text over the image */
  background-size: cover; /* Ensures the image covers the whole div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  text-align: center; /* Center the text horizontally */
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* smooth out changes to these properties */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* add a subtle shadow */
}

.list-tile a {
  position: absolute;  /* Absolute positioning to place the link in the middle of the div */
  top: 50%;  /* Start halfway down the container */
  left: 50%;  /* Start halfway across the container */
  transform: translate(-50%, -50%);  /* Shift the link back by half of its own height and width */
  color: white;  /* Make the link text white */
  font-weight: bold;  /* Make the link text bold */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);  /* Add a shadow to make the text more readable */
  font-size: 24px;
}

.list-tile:hover {
  transform: scale(1.05); /* scale the rectangle up slightly */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); /* add a shadow */
}

h1 {
  margin-bottom: 20px; /* adjust as necessary */
  margin-left: 57px;
  margin-top: 20px;
}

.create-btn {
  background-color: #3498db;  /* example color */
  color: #ffffff;
  padding: 10px 20px;  /* button padding */
  border-radius: 10px;  /* rounded corners */
  border: none;        /* remove border */
  cursor: pointer;     /* change cursor on hover */
  transition: background-color 0.3s;  /* smooth out the background color transition */
  float: right;    /* push the button to the right */
  margin-top: 2px;
  margin-right: 58px;
  text-decoration: none;
  font-size: 20px;
}

.create-btn:hover {
  background-color: #2980b9;  /* a darker blue for hover effect */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  background-color: #333;  /* a dark background for contrast */
  padding: 10px 20px;  /* some padding for spacing */
  font-size: 1.1rem;  /* slightly bigger text */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* subtle shadow for depth */
}

nav a {
  color: #f2f2f2;  /* light color for contrast against dark background */
  text-decoration: none;  /* remove underline */
  margin: 0 15px;  /* some margin for spacing between links */
  transition: color 0.3s;  /* smooth color transition */
}

nav a:hover {
  color: #00bcd4;  /* change color on hover for visual feedback */
}

.separator::before {
  content: "|";
  color: #888;  /* a muted color for the separator */
  padding: 0 10px;  /* space out the separator */
}

/* Review Styles */
.reviews-section {
  background-color: #f7f7f7; /* Light gray background for separation */
  padding: 40px 0;
  margin-top: 50px;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
}

.review-content {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.add-review {
  margin-top: 30px;
}

.review-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.movie-card {
  margin-bottom: 40px;
}

/* Star Rating Styles */
.star-rating {
  display: inline-block;
  font-size: 20px; /* Adjust as needed */
  color: gold; /* Default color for filled stars */
}

.star-rating::before {
  content: '\2605'; /* Unicode character for a solid star */
  position: relative;
  display: inline-block;
}

.star-rating[data-rating='0']::before {
  content: '\2606'; /* Unicode character for an empty star */
  color: gray; /* Color for empty stars */
}

.star-rating[data-rating='1']::before {
  color: gold;
}

.star-rating[data-rating='2']::before {
  color: gold;
}

.star-rating[data-rating='3']::before {
  color: gold;
}

.star-rating[data-rating='4']::before {
  color: gold;
}

.star-rating[data-rating='5']::before {
  color: gold;
}

.search-form {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list-tile .delete-button {
  position: absolute;
  bottom: 3px;
  right: 3px;
  left: auto;
  top: auto;
  transform: none;
  font-size: 18px;
  border: none;
  text-decoration: none;
  color: rgb(255, 33, 33);
  font-weight: bold;
  cursor: pointer;
  text-shadow: none;  /* To remove any inherited text-shadow */
  background: none;   /* If the button inherits any background color, you can reset it */
  padding: 2px 5px;   /* Some padding for better appearance, adjust as needed */
}

.button {
  color: red;
  text-decoration: none;
  position: absolute;
  color: blue;
}
